
@mixin create-button-for-theme($name,$theme-color) {
    .btn-#{$name}{
      background-color: $theme-color;
      color: set-color($theme-color); 
      border: 0px;  
      &:hover{
        $hover-color:darken($theme-color,  12%);
        background-color: $hover-color;
        color: set-color($hover-color);
      }
    }
    .btn-#{$name}-outline{
        background-color: transparent;
        color: $theme-color; 
        border: 1px solid $theme-color;  
        &:hover{
          $hover-color:$theme-color;
          background-color: $hover-color;
          color: set-color($hover-color);
        } 
    }
    

  }